.reset-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: transparent;
}

.reset-password-form {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 1rem;
  color: #007bff;
}

p {
  margin-bottom: 1.5rem;
  color: #666;
}

.input-group {
  margin-bottom: 1.5rem;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.input-group input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.btn {
  width: 100%;
  padding: 0.75rem;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.btn:hover {
  background-color: #0056b3;
}

.links {
  margin-top: 1rem;
  font-size: 1rem;
  color: #5a5a5a;
  text-align: center;
  font-weight: 500;
  text-decoration: none;
}

.links a {
  color: #5a5a5a;
  text-decoration: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.links a:hover {
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  
}

.success-container { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px ;
  border-radius: 8px;
  padding: 20px;
  background: linear-gradient(135deg, #bed8ff 0%, #f5f5f5 50%, #82b4ff 100%);
  animation: gradient 5s ease infinite;
}
.success-head {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.success-text {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #ffffff;
}

.success-link {
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  border: 1px solid #ffffff;
  cursor: pointer;
}
.success-link:hover {
  background-color: #ffffff;
  color: #44d3ff;
}
@keyframes gradient {
  0% {
    background-position: 0% 0%;
    background-size: 200% 200%;
    background: rgb(0, 174, 255);
  }
  30% {
    background-position: 100% 100%;
    background-size: 200% 200%;
    background: rgb(0, 170, 99);
  }
  100% {
    background-position: 100% 100%;
    background-size: 200% 200%;
    background: rgb(0, 174, 255);
  }
}
